<div class="row">
<h3>Profile Update</h3>
</div>
    <form class="col s12" action="profile" method="post">
        <div class="row">
            <div class="input-field col s6">
                <input  id="stu_first" type="text" class="validate">
                <label for="stu_first">First Name</label>
            </div>
            <div class="input-field col s6">
                <input id="stu_last" type="text" class="validate">
                <label for="stu_last">Last Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input  id="stu_id" type="text" class="validate">
                <label for="stu_id">Student ID</label>
            </div>
        </div>   
        <div class="row">
            <div class="input-field col s6">
                <input  id="stu_course" type="text" class="validate">
                <label for="stu_course">Course</label>
            </div>
            <div class="input-field col s6">
                <input id="stu_department" type="text" class="validate">
                <label for="stu_department">Department</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input  id="phone" type="text" class="validate">
                <label for="phone">Contact No:</label>
            </div>
        </div>
        <div class="row">
            <div class="file-field input-field">
                <div class="btn">
                    <span>Uplode image</span>
                    <input type="file" multiple>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="image" placeholder="Upload one or more files">
                </div>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Uplode
                <i class="material-icons left">update</i>
            </button>
        </div>
    </form>  