<footer class="page-footer css-background">
      <div class="container">
        <div class="row">
          <div class="col l5 s12">
          <center>
            <%= image_tag("3.png", :alt => "rss feed", :class =>"icon",style:"height:70px ; width: 70px;",class:"photo") %>
            <h5 class="white-text">Developed By</h5>
            <p >AVINASH GUDIMALLA </br> RoR Developer</br> eInfochips (ARROW) </br> email:avinash.gudimalla@einfochips.com </br> phn.no:9030293443 </p>
           </center> 
          </div>
          <div class="col l5 offset-l2 s12">
           
            <ul>
            <center>
            <%= image_tag("5.jpg", :alt => "rss feed", :class =>"icon",style:"height:70px ; width: 70px;",class:"photo") %>
            <h5 class="white-text">Informatics</h5>
            <p>
            Department of Computer Science </br>
            Head of Department</br>
            Mr. Mummadi Venugopal Reddy </br>	
            email:mvr@kakatiya.ac.in</br>
            phn.no:7382044364</br>
            </p>
            </center>
            </ul>
          </div>
        </div>
      </div>
      <center>
      <div class="footer-copyright ">
        <div class="container">
        © 2019 Informatics,Kakatiya University,Warangal
        </div>
      </div>
      </center>
    </footer>