</head>

  <body>
  
     <header>
    <ul id="dropdown4" class="dropdown-content">
        <li><a href="#!">2019</a></li>
        <li><a href="#!">2018</a></li>
        <li class="divider"></li>
        <li><a href="#!">More</a></li>
    </ul>
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">2019</a></li>
        <li><a href="#!">2018</a></li>
        <li class="divider"></li>
        <li><a href="#!">More</a></li>
    </ul>
    <ul id="dropdown3" class="dropdown-content">
        <li><a href="#!">Freshers</a></li>
        <li><a href="#!">Fairwell</a></li>
        <li><a href="#!">Signature Day</a></li>
        <li><a href="#!">Traditional Day</a></li>
        <li><a href="#!">Work Shop</a></li>
        <li class="divider"></li>
        <li><a href="#!">More</a></li>
    </ul>
    <ul id="dropdown2" class="dropdown-content">
        <li><a href="#!">Freshers</a></li>
        <li><a href="#!">Fairwell</a></li>
        <li><a href="#!">Signature Day</a></li>
        <li><a href="#!">Traditional Day</a></li>
        <li><a href="#!">Work Shop</a></li>
        <li class="divider"></li>
        <li><a href="#!">More</a></li>
    </ul>
        <nav>
          <div class="nav-wrapper navbar-color ">
            <a href="/" class="brand-logo">
            <div class="dim">
                <%= image_tag("2.png", :alt => "rss feed", :class =>"icon",style:"height:50px ; width: 80px;") %>
            </div>
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="#">Signup</a></li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Results</a></li>
              <li><a href="#">Time Table</a></li>
              <li><a href="#">Digital Library</a></li>
              <li><a class="dropdown-trigger" href="#!" data-target="dropdown3">Events<i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a class="dropdown-trigger" href="#!" data-target="dropdown4">Batchs<i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a href="/about">About</a></li>
            </ul>
          </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
          <li><a href="#">Signup</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Results</a></li>
          <li><a href="#">Time Table</a></li>
          <li><a href="#">Digital Library</a></li>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">   Events  <i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Batchs<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="/about">About</a></li>
          </ul>
      </div>       
      </header>
    <main>
      <div class="container " >
          <%= yield %>
      <div>
    </main>